*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 140px calc(100vh - 140px);
    background-color: black;
}

#aside {
    grid-area: 1/1/3/2;
    background-color: red;
}

#header {
    grid-area: 1/2/2/2;
    background-color: orange;
}

#content {
    overflow-y: auto;
    grid-area: 2/2/2/2;
    background-color: orangered;
}
